.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    justify-content: center;
    margin-top: 5%;
}

.head {
    justify-content: center;
    display: flex;
    font-size: 400%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.buttons {
    display: flex;
    width: 40%;
    margin-top: 1%;
    margin-left: 28.5%;
    position: relative;
}


.buttonColor {
    border-color: white;
    border-width: 3px;
    margin-left: 3%;
    border-radius: 5px;
}

.background {
    background-color: white;
}
